{% extends 'base.html' %}
{% load static %}



{% block content %}
  <br><br><br>
  <main>
  {% verbatim %}
  <script id="post-template" type="text/x-handlebars-template">
       {{#each this}}
       <article class="post-container">
       <header id='main'>
           <h4>{{{displayLink this}}}</h4><br>
           <h5>{{this.description}}</h5><br>
           <h5> Date posted: {{this.created}} </h5><br>
           {{#each this.tags as |tag|}}
           category: {{tag.topic}}<br>
           {{/each}}

       </header>
       </article>
       {{/each}}
   </script>
     {% endverbatim %}
 </main>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>

<script type="text/javascript" src="{% static 'js/question_list.js' %}"></script>

{%endblock%}
