
{% extends 'base.html' %}
{% load static %}
{% block content %}
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div id="questDetail"></div>
           </div>
       </div>

       <div class="row">
           <div class="col-md-12">
               <div id="answerDetail"></div>
           </div>
       </div>
   </div>

   <script id="post-template" type="text/x-handlebars-template">
       <article class="post-container">
           {% verbatim %}
               <h3 id="questTitle">{{title}}</h3>
               <h6 id="questDate">Date Posted: {{{formatTime created}}}</h6>
               <p id="questText">{{text}}</p>
           {% endverbatim %}
       </article>
   </script>

   <script id="post-template-two" type="text/x-handlebars-template">
       <article class="post-container-two">
           {% verbatim %}
               {{#each this}}
               <h3 id="answerText">{{this.this.text}}</h3>
               <h6 id="answerDate">Date Posted: {{{formatTime created}}}</h6>
               <p id="answerCreator">{{ creator.username}}</p>
               {{/each}}
           {% endverbatim %}
       </article>
   </script>

{% endblock %}
