{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<br><br><br>
        <form id="login_form" method="post" action="">
                 {% csrf_token %}
                 <h1>Login</h1>
                 {{form}}
                 <button type="submit">Login</button>
             </form>

             <br /><p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
              <br /><p class="message"><a href="{% url 'index' %}">Back to home </a></p>
            </form>
          </div>
        </div>
{% endblock %}
